<% provide(:title, "Editing shopping contact") %>
<h1>Editing Shopping Contact</h1>

<%= render 'form', shopping_contact: @shopping_contact %>

<%= link_to 'Show', @shopping_contact %> |
<%= link_to 'Back', shopping_contacts_path %>
