<h2 class="center"><%= t(".title")%></h2>

<%= render 'form', main_shot: @main_shot %>


<br>
<div class="container center">
	<%= link_to t(:back), main_shots_path, class: "waves-effect waves-light btn "  %>
</div>